body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 600px;
  width: 350px;
  /* background-color: orange; */
  display: flex;
  background-color: #c5c6cb;
  position: relative;
  margin: 200px auto;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  
}

.App::after{
  
  display:flex;
  transform:rotateX(180deg);
  background-image:
    linear-gradient(180deg,rgba(255,255,255,.0) 10%,rgba(255,255,255,.5));
  
  color: transparent;
}

.display-container {
  display: flex;
  border: 4px solid black;
  background-image: url('https://images.unsplash.com/photo-1595900277435-359d909b3e72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
  background-position: center;
  height: 250px;

  border-radius: 10px;
  margin: 10px;
  z-index: 10;
  box-shadow:  inset -1px 10px 56px -28px rgba(0,0,0,0.75);
}

.controls-container {
  display: flex;
  /* background-color: #c5c6cb; */
  height: 250px;

  align-items: center;
  justify-content: center;
}
.circular-container {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
  draggable: 'false';
}

.btn-press {
  position: absolute;
  border: 2px solid skyblue;
  background-color: #c5c6cb;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.btn-play {
  position: absolute;
  color: #c5c6cb;
  bottom: 20px;
}

.btn-prev {
  left: 10px;
  position: absolute;
  color: #c5c6cb;
}

.btn-next {
  right: 10px;
  position: absolute;
  color: #c5c6cb;
}

.btn-menu {
  top: 20px;
  position: absolute;
  /* color: #c5c6cb; */
}

.display-menu-container,
.music-menu-container {
  border-radius: 15px 0 0;
  width: 130px;
  background-color: white;
}

.main-options-list {
  /* display: none; */
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-options-list li {
  margin: 15px;
}

.music-options-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.music-options-list li {
  margin: 15px;
}

.active-tab {
  background-color: #3498db;
  color: white;
}

.active-tab::after {
  content: '  ›';
}

.title {
  margin: 15px;
  font-weight: 900;
}
